body {
    text-align: center;
    background-color: rgb(40, 124, 124);
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    color:rgb(37, 235, 235);
}
#scoreboard {
    color: aqua; 
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(40, 124, 124);
}

#reset {
    cursor: pointer;
    border-radius: 15px;
    width: 100px;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
}